name: Lint code

on: [push]

jobs:
  build:
    name: Lint Code Base
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3.0.2

      - name: Lint Code Base
        uses: docker://github/super-linter:v4.9.2
        env:
          VALIDATE_ALL_CODEBASE: true
          VALIDATE_ANSIBLE: false
